<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Журнал ввода пользователей</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<script>

        $(document).ready(function () {
        sendAjaxForm( "msg");
        setInterval(function(){sendAjaxForm( "msg");}, 1000)
        });
        function sendAjaxForm( msg) {
            $.ajax({
                type: 'GET',
                url: '/update',
                success: function (response) {
                    var json = jQuery.parseJSON(response);
                    $('#' + msg).html(json.msg);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
<br>
    <div id="msg"></div>


</body>
</html>